.container {
    height: 100vh;
    display: flex;
    background: radial-gradient(circle at top, #1a0000, #000);
    overflow: hidden;
}

.content {
    flex: 1;

    padding: 40px;
    color: white;

    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    min-width: 0;
    padding-bottom: 0;
}

.content>div {
    max-width: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content>footer {
    margin-top: auto;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .content {
        padding: 20px;
    }
}