.title {
    color: white;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #0a0a0a;
}

th,
td {
    padding: 14px;
    border-bottom: 1px solid #9e0d0b;
    color: #eee;
}

th {
    color: #b90e0a;
    text-align: left;
}

button {
    background: #b90e0a;
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.danger {
    background: #400000;
}