* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mainContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(11, 11, 11);

}

.divider {
    height: 2px;
    box-shadow: 0 0 10px 1px #770504;
    background-color: #770504;
}

.gamesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320.906px, 1fr));
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: calc((362.906px * 1.06) - (362.906px));
    align-items: start;
    grid-auto-rows: 380px;
    flex: 1;

}