* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(11, 11, 11);
    position: relative;
}

.divider {
    height: 2px;
    box-shadow: 0 0 10px 1px #770504;
    background-color: #770504;
}

.middleContainer {
    display: flex;
    padding: 40px calc((362.906px * 1.06) - (362.906px) + 4vw);
    gap: 60px;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.gamesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320.906px, 1fr));
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: start;
    grid-auto-rows: 380px;
    overflow-y: auto;
    scrollbar-width: none;

}

.gamesContainer::-webkit-scrollbar {
    display: none;
}

.burgerMenu {
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    display: none;
    z-index: 3;
}

.burgerMenu>* {
    font-weight: bold;
    font-size: 20px;
}

.burgerMenu {
    cursor: pointer;
}

.mobileNav {
    display: none;
}

@media (max-width: 768px) {
    .leftNav {
        display: none;

    }

    .burgerMenu {
        display: block;
    }

    .mobileNav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: grid;
        background-color: #0B0B0B;
        padding: 40px;
        z-index: 2;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        display: none;
    }

    .active {
        display: grid;
    }

    .gamesContainer {

        grid-template-columns: repeat(auto-fit, minmax(270.906px, 1fr));


    }

}