* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(11, 11, 11);
}

.divider {
    height: 2px;
    box-shadow: 0 0 10px 1px #770504;
    background-color: #770504;
}

.middleContainer {
    display: flex;
    padding: 40px calc((362.906px * 1.06) - (362.906px) + 4vw);
    gap: 60px;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.gamesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320.906px, 1fr));
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: start;
    grid-auto-rows: 380px;
    overflow-y: auto;
    scrollbar-width: none;
}

.gamesContainer::-webkit-scrollbar {
    display: none;
}