@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.mainContainer {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

}

.bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.burgerMenu {
    display: none;
}

.mainContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    pointer-events: none;

}



.bigLogo {
    max-width: 650px;
    width: 100%;
    min-width: 150px;

}

.midMainSection {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 11vh;
    display: flex;
    align-items: start;
    justify-content: left;
    flex: 1 1 0;
    flex-direction: column;
    gap: 20px;
}


.descriptionText {
    font-family: "Cinzel Decorative", serif;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.2;
    width: 100%;
}


.exploreBtn {
    background-color: #b90e0a;
    padding: 10px 80px;
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 10px 3px #b90e0a;
    font-weight: 600;
    max-width: 400px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to left, #0A0100, #a90b03);
    margin-bottom: 20px;

}

.exploreBtn a {
    color: white;
    width: 100%;
}

.exploreBtn:hover {
    cursor: pointer;
    background-color: #9e0d0b;
    box-shadow: 0 0 10px 2px #b90e0a;
    transform: scale(1.1);
    transition: all 0.2s ease;

}


@media (max-width: 1024px) and (min-width: 769px) {

    .midMainSection {
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .descriptionText {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media (max-width: 768px) {


    .midMainSection {
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .descriptionText {
        font-size: 1.5rem;
        text-align: center;
    }


}