.mainContainer {
    background: rgb(11, 11, 11);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.middleContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px calc((362.906px * 1.06) - (362.906px) + 4vw);
    gap: 20px;
    overflow-y: auto;
}

.back,
.back>* {
    color: #d1d5db;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.firstSection {
    display: flex;
    width: 100%;
    gap: 30px;
    color: white;
}

.carousel {
    flex: 1;
}

.shortInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gameTitle {
    font-size: 36px;
    font-weight: 600;
}

.gameRating {
    font-size: 18px;
    display: flex;
    gap: 5px;
}

.gameRating>* {
    color: gold;
}

.gameCategory {
    background-color: #b90d0a5a;
    max-width: fit-content;
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #b90e0a;
    color: #f7817f;
}

.purchaseDetails {
    background: rgba(15, 15, 15, 0.95);
    min-width: 500px;
    width: 100%;
    max-height: 250px;
    border-radius: 10px;
    border: 0.2px solid #ffffff17;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    gap: 20px;
    align-items: start;
    justify-content: center;
    flex: 1;

}

.purchaseDetails p {
    font-size: 30px;
    font-weight: 600;

}

.purchaseDetails button {
    width: 100%;
    padding: 15px 80px;
    border: none;
    border-radius: 8px;
    color: #d1d5db;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to left, #0A0100, #a90b03);
    outline: none;

}

button.secondBtn {
    background-image: none;
    background-color: #1d1d1d;
    outline: none;

}

.purchaseDetails button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.3s ease;
    outline: none;

}

.wishlist {
    background-color: green;
}

.shortDetailedInfo {
    background: rgba(15, 15, 15, 0.95);
    max-width: 500px;
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
    border: 0.2px solid #ffffff17;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    gap: 30px;
    align-items: start;
    justify-content: center;
    font-size: 14px;
    flex: 1;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.line>p:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #999999;
}

.platforms {
    display: flex;
    gap: 7px;
}

@media (max-width: 768px) {}