@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100%;
    scrollbar-width: none;
}

.mainContainer::-webkit-scrollbar {
    display: none;
}

.backVideo {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center top;
}

.mainContainer::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(31, 6, 6, 0.3);
    position: fixed;
    pointer-events: none;
    z-index: 0;
}

.loginContainer {
    background: rgba(15, 15, 15, 0.95);
    border: 2px solid #9e0d0b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0 0 10px 2px #9e0d0b;
    margin-top: 5vh;
    max-width: 600px;
    width: 100%;
    margin-bottom: 40px;
    min-width: 250px;
}

.logo {
    width: 70px;
    filter: drop-shadow(6px 6px 10px rgba(186, 5, 5, 0.4));
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scaleX(-1) scale(1.2);
    filter: drop-shadow(6px 6px 12px rgba(226, 7, 7, 0.625));
}

.innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 25px;
    padding: 40px;
}

.field {
    width: 100%;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: 2px solid #770504;
    box-shadow: 0 0 10px 0.5px #770504;
    font-size: 17px;
    font-family: "Cinzel", serif;
    font-weight: 700;
}

.field:focus {
    box-shadow: 0 0 12px 4px #8e0806;
    outline: none;
    transform: scaleX(1.03);
    transition: all 0.2s ease;
}

.field::placeholder {
    color: rgb(160, 160, 160);
    font-weight: 500;
    font-size: 15px;
    font-family: "Cinzel", serif;
}

.field:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    caret-color: white;
    transition: background-color 9999s ease-out 0s;
}

.registerBtn {
    background-image: linear-gradient(to left, #0A0100, #a90b03);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: #d1d5db;
    box-shadow: 0 0 15px 3px #b90e0a;
    width: 100%;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.registerBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 4px #b90e0a;
    transform: scale(1.03);
    transition: all 0.2s ease;
}

.account {
    color: #d1d5db;
    font-size: 15px;
}

.account a {
    color: #b31512;
}

@media (max-width: 768px) {
    .loginContainer {
        padding: 3vw;
    }

    .innerContainer {
        padding: 20px 3vw;
    }

    .mainContainer {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .registerBtn {
        font-size: 18px;
    }
}