.toast {
    position: fixed;
    top: 120px;
    right: 50%;

    background: rgba(10, 10, 10, 0.95);
    border-radius: 14px;

    padding: 14px 24px;

    display: flex;
    align-items: center;
    gap: 12px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

    border: 1px solid rgba(255, 0, 0, 0.35);

    box-shadow:
        0 0 12px rgba(255, 0, 0, 0.4),
        0 0 25px rgba(255, 0, 0, 0.25),
        inset 0 0 12px rgba(255, 0, 0, 0.15);

    backdrop-filter: blur(6px);

    animation: slideFade 0.35s ease forwards;
    z-index: 9999;
}

.icon {
    font-size: 20px;
    color: #ff2b2b;
    filter: drop-shadow(0 0 6px rgba(255, 0, 0, 0.8));
}

@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}