.mainContainer {
    color: white;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    min-width: 315px;

}


.mainImage {
    width: 100%;
    max-height: 560px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
    min-width: 315px;

}

.photosContainer {
    display: flex;
    gap: 15px;
}

.subImage {
    flex: 1;

}

.subImage img {
    max-height: 125px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.selected {
    border: 1px solid #b90e0a;
    border-radius: 10px;
    max-height: 125px;
}

.notSelected {
    position: relative;
    flex: 1;

}

.notSelected::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.66);
    pointer-events: none;
    border-radius: 10px;
    max-height: 125px;

}

@media (max-width: 768px) {
    .photosContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-auto-columns: 120px;
        max-height: calc(2 * 120px);
    }
}