.container {
    background: rgba(15, 15, 15, 0.95);
    border-radius: 10px;
    border: 0.2px solid #ffffff17;
    height: 100%;
    padding: 20px 40px;
    max-width: 1170.500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 200px;
    justify-content: center;
}

.title {
    color: white;
    font-size: 23px;
}

.description {
    color: #999999;
    font-size: 16px;
}