.card {
    width: 100%;
    background: transparent;
    border-radius: 10px;
    transition: transform 0.4s ease;
    height: 100%;
    color: white;
}

.card:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

.card>img {
    width: 100%;
    height: calc(0.6 * 362.906px);
    object-fit: cover;
    object-position: 0 30%;
    clip-path: inset(0 round 10px);

}

.bottomSection {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    font-size: 14px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}

.gameRating {
    display: flex;
    gap: 5px;

}

.gameRating>* {
    color: gold;
}